<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist SYSTEM"file://localhost/System/Library/DTDs/PropertyList.dtd"><plist version="0.9"><dict>   <key>CFBundleExecutable</key>   <string>Pures-Mac OS (Universal)</string>   <key>CFBundleName</key>   <string>Pures-Mac OS (Universal)</string>   <key>CFBundleIdentifier</key>   <string>Bakker</string>   <key>CFBundleInfoDictionaryVersion</key>   <string>6.0</string>   <key>CFBundleVersion</key>   <string>1.0.0.0</string>   <key>CFBundleDevelopmentRegion</key>   <string>en_GB</string>   <key>CFBundlePackageType</key>   <string>APPL</string>   <key>CFBundleSignature</key>   <string></string>   <key>CFBundleGetInfoString</key>   <string></string>   <key>CFBundleShortVersionString</key>   <string></string>   <key>CFBundleIconFile</key>   <string>Pures-Mac OS (Universal).icns</string>   <key>CFBundleDocumentTypes</key>   <array>   </array></dict></plist>